.App {
  /* text-align: center; */
  background-color: #282c34;
  margin-top: 5%;

 

}
/* .AppMovie{
  display: flex;
  justify-content: space-between;
  /* display: flex;
  justify-content: space-between;
  align-content: center;
  flex-wrap: wrap; */
  

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
/* .card{
  margin-left: 2%;
  margin-right: 2%;
  /* display: flex;
  align-items: flex-end;
  align-content: center; */
  /* width: 50%; */
  
/* } */ */
.App-header {
  
  min-height: 50vh;
  display: flex;
  /* flex-direction: column;
  /* align-items: center; */
  justify-content: space-around;
  flex-wrap: wrap;
  font-size: calc(10px + 2vmin);
  /* color: white; */
}

/* .App-link {
  color: #61dafb;
} */

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* .mcard{
  color: black;
} */